<div class="home">
  <div class="ui header center aligned">
    <h1 class="white-letters" >Um blog simples feito em Ruby on Rails</h1>
  </div>
  <br>
  <div class="ui header left aligned white">
    <h1 class="white-letters">Techs/libs usadas: Rails, Devise, Semantic-UI, Sendgrid, Heroku, Postgres.</h1>
  </div>
  <div class="ui header left aligned">
    <br>
    <h2 class="white-letters">Features:</h2>
    <div class="ui bulleted list white-letters">
      <div class="item">Sistema de cadastro com validação de email via Sendgrid;</div>
      <div class="item">Sistema de followers: Você pode escolher seguir ou não um usuário</div>
      <div class="item">Sistema de privacidade: Você só pode ver posts de usuários que te seguem;</div>
      <div class="item">Sistema de posts públicos: Posts públicos podem ser vistos por qualquer pessoa;</div>
    </div>
    <br>
  </div>
</div>