<%= render 'welcome/public_posts' %>
<div class="ui grid">
  <div class="ui fifteen wide column">
    <div class="ui divider"></div>
    <h3 class="ui header">Private posts you can see</h3>
  </div>
</div>
<%= render 'welcome/private_posts' %>