@import 'semantic-ui';

.bg-light{
  background-color: whitesmoke;
}

.card-subtitle{
  margin-top: 8px;
}

.no-decoration{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87)
}

.delete-button{
  margin-bottom: 6px;
  margin-left: 8px;

  a{
    color: white
  }

}

.new-post-button{
  margin-bottom: 8px !important;
}